print("hello world")

In [2]:
a = 12
print(a)

12

In [5]:
age = 32
print(age)

32

In [10]:
a=type("cibi")

In [11]:
print(a)

<class 'str'>

In [12]:
b= float(2)
print(b)

2.0

In [15]:
b=bool(2)
print(b)

True

In [33]:
my_name = "cibiaswanth"

In [34]:
my_name

'cibiaswanth'

In [35]:
my_name[2]

'b'

In [36]:
my_name[2:3]

'b'

In [37]:
my_name[1:3:]

'ib'

In [40]:
my_name[3::6]
#slicing concept

'it'

In [43]:
my_name[1:3:1]

'ib'

In [44]:
my_name[::-1]

'htnawsaibic'

In [45]:
#concatination of the string
first_name="cibi"
last_name="aswanth"
full_name=first_name+last_name

In [46]:
full_name

'cibiaswanth'

In [54]:
# To split a string
full_name = "cibiaswanth" 
full_name =full_name.split('a')
full_name

['cibi', 'sw', 'nth']

In [55]:
#string formatting
name = "john"
'iam student named {} of sathyabama'.format(name)

'iam student named john of sathyabama'

In [58]:
name1="am"
name2="of"
'i {} student {} ncs'.format(name1,name2,name3)

'i am student of ncs'

In [67]:
n1="to"
n2="do"
"what {b} {b}".format(a=n1,b=n2)

'what do do'

In [68]:
n1.upper()

'TO'

In [69]:
n2.lower()

'do'

# List basic

In [72]:
our_list=["cibi",23,"akash"]
our_list[2]

'akash'

In [76]:
our_list.insert(1,"ashu")
our_list

['cibi', 'ashu', 23, 'akash']

In [79]:
our_list.remove("ashu")

In [80]:
our_list

['cibi', 23, 'akash']

# sorting of the list

In [83]:
my_list = ['t','i','g','e']
my_list.sort()

In [84]:
my_list

['e', 'g', 'i', 't']

In [85]:
my_list.reverse()

In [86]:
my_list

['t', 'i', 'g', 'e']

# Dicts

In [90]:
our_dict = {"name":"cibi","friend":"ashu","age":23}  
our_dict

{'name': 'cibi', 'friend': 'ashu', 'age': 23}

In [91]:
our_dict.items()

dict_items([('name', 'cibi'), ('friend', 'ashu'), ('age', 23)])

In [93]:
our_dict.values()

dict_values(['cibi', 'ashu', 23])

# tuples

In [95]:
tuple =("cibi","john","akash")
tuple

('cibi', 'john', 'akash')

In [96]:
my_tuple=(1,2,2,2,3)

In [97]:
my_tuple

(1, 2, 2, 2, 3)

In [98]:
my_tuple.count(2)

3

In [99]:
my_tuple.index(3)

4

In [102]:
my_tuple.index(2)

1

In [103]:
my_tuple=("cibi","akash","john")

In [104]:
my_tuple

('cibi', 'akash', 'john')

In [105]:
my_tuple.count("akash")

1

In [ ]:
# in set there is no duplication

# set

In [107]:
my_set

('cibi', 'akash', 'after')